@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<ul>
    <li>Nome: @Model.Name</li>
    <li>Genere: @Model.Genre.Name</li>
    <li>Data di uscita: @Model.ReleaseDate.ToLongDateString()</li>
</ul>